<div class="row">
  <div class="span6">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "form-horizontal" }) do |f| %>
      <fieldset>
        <legend>Forgot your password?</legend>
        <%= devise_error_messages! %>

        <div class="control-group">
          <div class="control-label"><%= f.label :email %></div>
          <div class="controls"><%= f.email_field :email %></div>
        </div>

        <div class="form-actions">
          <%= f.submit "Send me reset password instructions", :class => "btn btn-primary" %>
          <div class="pull-right">
            <%= render :partial => "devise/shared/links" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

