<div class="row">
  <div class="span12">
    <h1>Users <small>Select user to chat :)</small></h1>
  </div>
</div>
<hr />
<div class="row">
  <div class="span12">
    <strong>
    <% @users.each do |user| %>
      <%# if !user_signed_in? or current_user.id != user.id %>
      <!--i class="icon-user"></i-->
      <%= gravatar_for user.email, :size => 32 %> <%= link_to user.email, private_path(user) %>&nbsp;&nbsp;
      <%# end%>
    <% end %>
    </strong>
  </div>
</div>
<br /><br />
<hr />
<div class="row">
  <div class="span12">
    <h1>Rooms <small>Join your friends</small></h1>
  </div>
</div>
<div class="row">
  <div class="span12">
    <% @rooms.each do |room| %>
      <i class="icon-comment"></i> <%= link_to room.name, room %>&nbsp;&nbsp;
    <% end %>
  </div>
</div>
<div class="row">
  <div class="span12">
    <br /><br />
    <%= form_for @room, :html => {:class => "form-inline"} do |f| %>
      <%= f.text_field :name, :class => "input" %>
      <%= f.submit "Create new room", :class => "btn btn-primary" %>
    <% end %>
  </div>
</div>
