<script>
$(function() {
  var client = new Faye.Client('http://<%= request.host %>:9292/faye');
    client.subscribe("/private/<%= params[:id] %>", function(data) {
      $('#chat').append("<p><small>"+data.time+"</small> <strong>"+data.name+"</strong>: "+data.message+"</p>");
      var audioElement = document.createElement('audio');
      audioElement.setAttribute('src', '/notification.wav');
      audioElement.play();
    });
  });
</script>
<div class="page-header">
  <h1>Chat :) <small>with <%= @user.email %></small> <%= gravatar_for @user.email, :size => 32 %></h1>
</div>
<div class="row">
  <div class="span8">
    <p>
      <strong>
        <i class="icon-folder-open"></i> <%= link_to "History", {:action => "history", :id => params[:id]} %>&nbsp;&nbsp;
        <i class="icon-trash"></i> <a href="javascript:$('#chat').html(''); void(0);">Clear</a>
      </strong>
    </p>
    <div class="thumbnail" id="chat">
      <% @chat_messages.each do |m| %>
        <%= render(m) %>
      <% end %>
    </div>
  </div>
  <div class="span4">
    <% if  current_user.id == @user.id %>
      <img src="/img/foreveralone.gif" alt="foreveralone" />
    <% end %>
  </div>
</div>
<hr />
<div class="row">
  <div class="span5">
    <%= form_for @message, :url => {:action => "create"}, :remote => true, :html => {:class => "well form-inline"} do |f| %>
      <%= f.hidden_field :to_user_id, :value => params[:id] %>
      <%= f.text_field :message, :class => "input-xlarge" %>
      <%= f.submit "Send", :class => "btn btn-primary" %>
    <% end %>
  </div>
</div>
<div class="row">
  <%= render 'messages/emoticons' %>
</div>
