<script>
$(function() {
  var client = new Faye.Client('http://localhost:9292/faye');
  client.subscribe("/rooms/<%= params[:id] %>", function(data) {
    $('#chat').append("<p><small>"+data.time+"</small> <strong>"+data.name+"</strong>: "+data.message+"</p>");
  });
});
</script>
<div class="page-header">
  <h1>Chat :) <small>in <%= @room.name %></small></h1>
</div>
<div class="row">
  <div class="span8">
    <div class="thumbnail" id="chat">
      <% @room_messages.each do |m| %>
        <%= render :partial => 'messages/message', :locals => {:message => m} %>
      <% end %>
    </div>
  </div>
</div>
<hr />
<div class="row">
  <div class="span5">
    <%= form_for @message, :url => {:controller => "rooms", :action => "create_message"}, :remote => true, :html => {:class => "well form-inline"} do |f| %>
      <%= f.hidden_field :room_id, :value => params[:id] %>
      <%= f.text_field :message, :class => "input-xlarge" %>
      <%= f.submit "Send", :class => "btn btn-primary" %>
    <% end %>
  </div>
</div>
